<style>
  .search-btn {
    background-color: #fe424d;
    color: #fff;
    border-radius: 25px;
    padding: 0rem 1rem 0rem 1rem;
  }

  .search-btn:hover {
    background-color: #fe424d;
    color: #fff;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
    width: 40rem;
    font-size: 0.95rem;
  }

  .search-inp:hover {
    background-color: rgb(235, 238, 242);
  }

  .signup-btn, .login-btn, .logout-btn {
    background-color: #fe424d;
    border-radius: 25px;
    padding: 0rem 1rem 0rem 1rem;
    margin-right: 1rem;
  }

  .add-new-listing {
    border: 1px solid gray;
    border-radius: 10px;
    padding-right: 5rem;
  }

  .add-new-listing:hover {
    background-color: #f0f0f0;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings"><h3>Explore</h3></a> 
        </div>

        <div class="navbar-nav ms-auto">
          <form class="d-flex" role="search">
            <input class="form-control me-2 search-inp" type="search" placeholder="Search destinations">
            <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
          </form>
        </div>

        <div class="navbar-nav ms-auto">
          <a class="nav-link add-new-listing" href="/listings/new">Add New Listing</a>
          <% if(!currentUser) { %>
          <button type="button" class="btn btn-danger signup-btn">
            <a href="/signup" style="color: #fff; text-decoration: none;"><b>Sign up</b></a>
          </button>
          <button type="button" class="btn btn-danger login-btn">
            <a href="/login" style="color: #fff; text-decoration: none;"><b>Log in</b></a>
          </button>
          <% } %>
          <% if(currentUser) { %>
          <button type="button" class="btn btn-danger logout-btn">
            <a href="/logout" style="color: #fff; text-decoration: none;"><b>Log out</b></a> 
          </button>
          <% } %>
        </div>
      </div>
    </div>
</nav>